services:
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
        PORT: ${EXPOSE_APP_PORT}
    container_name: eqsitecms-${EQUESTRIAN_NAME:-default}-frontend
    restart: always
    ports:
      - "${EXPOSE_APP_PORT}:${EXPOSE_APP_PORT}"


